{% extends 'base.html.twig' %}

{% block content %}
<form method="post">

	<h2>Connexion</h2>
	
	{% if error %}
	<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	

	<label for="inputEmail">Email</label>
	<input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
	<label for="inputPassword">Mot de passe</label>
	<input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
	
	<input type="hidden" name="_csrf_token"
		value="{{ csrf_token('authenticate') }}"
	>
	<button class="btn btn-lg btn-primary" type="submit">
		Connexion
	</button>
</form>
{% endblock %}
