<div class="nav flex-column">

    <h4 class="text-center"> Articles </h4>

    {% for setting in settings %}

    {% if setting.articles is not empty %}
    <div class="menu-dropdown dropdown">
		<a id="AccountMenuGestion" class="nav-link dropdown-toggle dropdown-item h5" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ setting.name }}</a>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="AccountMenuGestion">
            <a class="dropdown-item" href="{{ path('articles_list', {
                setting: setting.name,
            }) }}">Tout</a>
            {% for category in categories %}
            {% if articles.findBySettingAndCat(setting, category) is not empty %}

			<a class="dropdown-item" href="{{ path('articles_list', {
                setting: setting.name,
                cat: category.type
            }) }}">{{ category.type }}</a>
            {% endif %}
            {% endfor %}
		</ul>
	</div>
    {% endif %}

    {% endfor %}

</div>
