<div class="d-flex navbar-light navbar-expand-lg">
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="true" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="flex-md-column navbar-expand-lg" id="menu-container">
	<nav class="collapse horizontal-collapse navbar-collapse" id="menu">
	
		<div class="flex-md-column">
	
			{# L'utilisateur est-il identifié ? Si oui, afficher username et le dropdown de de gestion de compte #}
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<h4 id="username" class="text-center">
				{{ app.user.displayname }}
			</h4>

			{% if is_granted('ROLE_ADMIN') %}
			<a class="nav-link dropdown-item h5 text-center text-lg-end" href="{{ path('admin_dash') }}" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
			{% endif %}
	
			<div class="dropdown menu-dropdown text-center text-lg-end">
				<a id="AccountMenuGestion" class="nav-link dropdown-toggle dropdown-item h5" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="AccountMenuGestion">
					<a class="dropdown-item" href="#">Gérer mon compte</a>
					<a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
				</ul>

				<a id="ArticleDropdown" class="nav-link dropdown-toggle nav-link dropdown-toggle dropdown-item h5 h5" href="#" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gérer mes articles</a>
	
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ArticleDropdown">
					<a class="dropdown-item"
						href="{{ path('articles_user') }}">Mes articles</a>
					<a class="dropdown-item" href="{{ path('article_new') }}">Nouvel Article</a>
				</ul>
			{% else %}
	
			{# Sinon, afficher dropdown de connexion. #}
	
			<div class="dropdown menu-dropdown"> <a id="AccountConnect" class="nav-link dropdown-toggle h5" href="#" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Se connecter</a>
	
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="AccountConnect">
					<form class="row g-3 px-2" action=" {{ path('security_login') }}" method="post">
	
						<div class="col-md-12">
							<label for="inputEmailMenu" class="form-label">
								E-mail
							</label>
							<input type="email" name="_username" class="form-control" id="inputEmailMenu" required>
						</div>
						<div class="col-md-12">
							<label for="inputPasswordMenu" class="form-label">
								Mot de passe
							</label>
							<input type="password" name="_password" class="form-control" id="inputPasswordMenu" required>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	
						<div class="col-12">
							<button type="submit" class="btn btn-primary">
								Connexion
							</button>
						</div>
	
					</form>
				</ul>
			</div>
			{% endif %}
	
			{# Fin de la section gestion de compte, début des liens du wiki #}
	
			<hr class="m-4">
	
			{{ render( controller(
				'App\\Controller\\MenuArticleController:menuRender'
			)) }}
	
		</div>
	</nav>
</div>
