@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import "body.scss";
@import "footer.scss";

header#banner {
    background-image: url(../img/hellfrost-banner_x2.jpg);
    background-size: cover;
    background-position: 50% 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    width: 100%;
}

header#banner h1 {
    color: #fff;
    font-family: 'Tangerine', cursive;
    font-size: 8rem;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

header#banner h1>a {
    color: #fff;
    text-shadow: #000 0 0 10px;
    text-decoration: none;
}

.navbar-toggler {
    border-radius: 0;
    border: 0;
}


@media only screen and (max-width: 768px) {
    div#body_container {
        display: flex;
        flex-direction: column;
    }

    header#banner h1 {
        font-size: 4rem;
    }
    
    header#banner {
        min-height: 20vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

    div#body_container {
        display: flex;
        flex-direction: column;
    }

    header#banner h1 {
        font-size: 4rem;
    }
    
    header#banner {
        min-height: 35vh;
    }

    .card {
        max-width: 12rem;
    }
}

@media only screen and (min-width: 993px) {

    div#body_container #menu {
        align-items: flex-start;
    }

}