body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: rgb(245, 245, 245);
    font-size: 14px;
}

div#body_container {
    box-shadow: 0 -10px 15px 15px rgb(245 245 245);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

    div#body_container #menu-container {
        border-right: 1px solid rgba(0,0,0, 0.05);
    }

    div#body_container #menu {
        justify-content: center;
        padding: 20px 0 0 0;
        text-align: end;
    }

    div.article_container>div.row {
        --bs-gutter-x: 0;
    }

    .card {
        max-width: 15rem;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        padding-top: 6px;
        padding-bottom: 6px;
    }

    // Centre et crop les images des cartes d'articles
    .card-img, .card-img-top {
        object-fit: cover;
        max-height: 11rem;
        width: 100%;
        height: 100%;
    }

    .card-img-notset {
        content: url(../img/placeholder-image.png);
    }