
footer {
    min-height: 2rem;
    background-color: rgb(40, 40, 40);
    color: #fff;
    text-align: center;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}