<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="icon" type="image/png" href="{{ asset('build/images/crescent-moon-favicon.png') }}" />
        <title>{% block title %}NewmoonRPG Wiki{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header id="banner">
            <h1><a href="{{ path('home') }}">Newmoonrpg Wiki</a></h1>
        </header>

        <div id="body_container">
            {% include 'partials/_menu.html.twig' %}
            <div id="content" class="container" class="mx-5">
                {% block content %}
                    <h2 class="h1">Bienvenue sur le wiki de NewmoonRPG !</h2>
                    <p class="h6">Ce wiki a pour but d'aider à répertorier et rassembler les informations sur les différents lieux, personnages, évènements, etc ainsi que les compte-rendus des sessions de mes différents groupes de Jeu de Rôle papier. Même si vous ne pouvez pas vous inscrire, rien ne vous empêche de naviguer sur le site pour lire les différents articles qui le composent !</p>
                    <div class="mt-5">
                        {{ render( controller(
                            'App\\Controller\\ArticleController:randFive'
                        )) }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>
    {% include 'partials/_footer.html.twig' %}
</html>
