<div class="article_container flex-row">
        <div class="row row-cols-1 row-cols-md-3 justify-content-center">
        {% for article in articles %}
            <div class="card text-center m-1">
                


                {# card img #}
                <a class="card-img-top d-none d-lg-block" href="{{ path('article_show', {
                        'id': article.id | lower, 
                        'category': article.articleCategory.type | lower, 
                        'setting': article.gameSetting.name | lower,
                        'title': article.slug | lower, 
                        }) }}">
                    {% if article.imgSrc|default %}
                    <img class="card-img-top" src="{{ article.imgSrc }}">
                    {% else %}
                    <img class="card-img-top" src="{{ asset('build/images/placeholder-image.png') }}" >
                    {% endif %}
                </a>



                {# card body #}
                <a class="card-body text-reset text-decoration-none p-0" href="{{ path('article_show', {
                        'id': article.id | lower, 
                        'category': article.articleCategory.type | lower, 
                        'setting': article.gameSetting.name | lower,
                        'title': article.slug | lower, 
                }) }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <div class="article-cat-info">
                            <h6 class="card-subtitle text-secondary">
                                {{article.articleCategory.type}}
                            </h6>
                            <h6 class="card-subtitle text-muted">{{article.gameSetting.name}}</h6>
                        </div>
                    </div>
                </a>
            




                {# card footer #}
                <div class="card-footer d-inline-flex justify-content-between" role="group" aria-label="Action articles">
                    <div class="text-muted align-self-center" style="font-size: 0.8rem">Par {{article.author.displayname}}
                    </div>
                    {# Si l'utilisateur est connecté, afficher les boutons d'edit et de suppression #}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="btn-group">
                        <a class="btn btn-secondary" href="{{ path('article_edit', {
                            'id': article.id | lower, 
                            'category': article.articleCategory.type | lower, 
                            'setting': article.gameSetting.name | lower }) }}"><i class="fas fa-edit"></i></a>
                        {{ include('article/_delete_form.html.twig') }}
                    </div>
                    {% endif %}
                </div>
            </div>



        {# si aucun article n'est trouvé #}
        {% else %}
            <p class="h5">Aucune article trouvé. Pourquoi ne pas essayer d'en créer un ?</p>
        {% endfor %}
        </div>
    </div>