<form class="btn-danger" style="border-radius: 0 5px 5px 0" method="post" action="{{ path('article_delete', {
    'id': article.id | lower, 
    'category': article.articleCategory.type | lower, 
    'setting': article.gameSetting.name | lower }) }}" 
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');
">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
</form>
