{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.imgSrc) }}
    {{ form_row(form.gameSetting) }}
    {{ form_row(form.articleCategory) }}
    {{ form_widget(form.content) }}
    <div class="text-end">
        <button class="btn btn-primary my-2">{{ button_label|default('Publier') }}</button>
    </div>
{{ form_end(form) }}

{{ elfinder_tinymce_init4('default', {'width':'900', 'height': '450', 'title':'File Manager'} ) }}
{{ tinymce_init() }}