{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block content %}
    <h1>Éditer l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
