<div class="d-sm-inline-flex align-items-baseline">
        {% block list_title %}
            <h2 class="h1">{{ setting }}</h2>
        {% endblock %}
        {% if cat is defined %}
        <h3 class="h5 text-muted mx-2">>> {{ cat }}</h3>
        {% endif %}
    </div>
    <hr class="mb-4">

    {% include 'article/_card.html.twig' %}
</div>