{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block content %}
    <h1>Créer un nouvel Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('home') }}">retour à l'index</a>
{% endblock %}
