{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

    <div class="d-flex flex-column row-3">
        <div class="d-flex flex-row align-items-baseline col">
            <h1>{{ article.title }}</h1>
            <h6 class="text-muted ms-1">par {{ article.author.displayname }}</h6>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="btn-group ms-2 align-self-start">
                <a class="btn btn-secondary" href="{{ path('article_edit', {
                    'id': article.id | lower,
                    'category': article.articleCategory.type | lower,
                    'setting': article.gameSetting.name | lower }) }}"><i class="fas fa-edit"></i></a>
                {{ include('article/_delete_form.html.twig') }}
            </div>
            {% endif %}
        </div>
        <div class="col">
            <div class="text-muted" style="font-size: 0.8rem">
            <span>Créé le: {{ article.dateCreated ? article.dateCreated|date('Y-m-d \à H:i:s') : '' }}</span>
            {% if dateModified is defined %}
            <br><span>Dernière modification le: {{ article.dateModified ? article.dateModified|date('Y-m-d \à H:i:s') : '' }}</span>
            {% endif %}
            </div>
        </div>
    </div>
    <hr class="my-3">
    <div class="container">
        {{ article.content | raw}}
    </div>

{% endblock %}
